<div style="display: flex; flex-direction: column;">
  <mat-select placeholder="Klasė" [(value)]="className" (selectionChange)="onChange()">
    <mat-option value="A">1A</mat-option>
    <mat-option value="B">1B</mat-option>
  </mat-select>
  <mat-select placeholder="Pogrupis" [(value)]="subGroup"  (selectionChange)="onChange()">
    <mat-option value="1">I pogrupis</mat-option>
    <mat-option value="2">II pogrupis</mat-option>
  </mat-select>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="container">
  <div *ngFor="let entry of getTodaysSchedule()" [ngClass]="entry.status" style="background-image: url('{{entry.teacher.photo}}')">
    <span *ngIf="entry.status === 'starting' && entry.minutesLeft > 0" class="info">Pamoka prasidės už {{entry.minutesLeft}}min.</span>
    <span *ngIf="entry.status === 'starting' && entry.minutesLeft == 0" class="info">Pamoka prasideda</span>
    <span class="subject">{{entry.time | date: 'H:mm'}} {{entry.subject}}</span>
    <span  class="details">
      <mat-list  class="inline-list">
        <mat-list-item *ngFor="let detail of entry.teacher.details; let k=index" class="detailItem">
          <mat-icon mat-list-icon>play_circle_outline</mat-icon>
          <a *ngIf="detail.value.startsWith('http')" [attr.href]="detail.value">{{detail.key}}</a>
          <ng-container *ngIf="!detail.value.startsWith('http')">{{detail.key}} {{detail.value}}</ng-container>
        </mat-list-item>
      </mat-list>
    </span>
  </div>
</div>
<router-outlet></router-outlet>